version: '2.1'
services:
    influxdb:
      image: influxdb:1.7
      container_name: influxdb
      restart: 'always'
      ports:
        - "8086:8086"
        - "8083:8083"
        - "2003:2003"        
      volumes:
        - influxdb:/var/lib/influxdb
      labels:
          org.label-schema.group: "monitoring"

volumes:
  influxdb:
