version: '3.3'
services:
  prometheus:
    container_name: 'prometheus'
    ports:
    - '9090:9090'
    image: 'prom/prometheus:v2.12.0'
    restart: 'always'
    volumes: 
      - 'prometheus-conf-ext:/etc/config:rw'
    command:      
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles" 
      - "--config.file=/etc/config/monitoring-mesh/prometheus.yml"       
volumes:
  prometheus-conf-ext:
      external:
        name: prometheus-conf     
